//Main styles
.bttn {
    display: inline-block;
    padding: 1.3rem 3.8rem;
    background-color: #6fbe2e;
    border-radius: 5rem;
    text-decoration: none;
    color: #fff;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: 1s all;
    &:hover {
        background-color: #7aca39;
        box-shadow: 0 2.9rem 4.6rem rgba(0,0,0,0.1);
    }
}
.bttn.newGame {
    margin-top: 3rem;
    background-color: #7aca39;
}
.bttn.category__action {
    box-shadow: none;
}


//container

#main__container {
    height: 100vh;
    width: 100%;
}
//Main template
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f1f7f8;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 111.8rem;
        margin: 0 auto;
    }
    &__content {
        text-align: center;
    }
    &__heading {
        font-size: 6.8rem;
    }
    &__instructions {
        margin-bottom: 3rem;
        font-size: 1.6rem;
    }
}

//Category template
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f7f8;
    animation-name: show;
    animation-duration: 2s;

    &__container {
        max-width: 111.8rem;
        margin: 0 auto;
    }
    &__header {
        font-size: 2rem;
        font-weight: 600;
    }
    &__select {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    &__action {
        margin-top: 4rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        flex-basis: 26rem;
        height: 26rem;
        margin-top: 2rem;
        border-radius: 4px;
        background-color: #fff;
        transition: 1s all;
        &:hover {
            box-shadow: 0 2.9rem 4.6rem rgba(0,0,0,0.1);
        }
    }
    &__box-header {
        font-size: 1.7rem;
        color: #31bff0;
    }
}


//Quiz container

//Category template
.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f7f8;
    animation-name: show;
    animation-duration: 2s;

    &__container {
        width: 111.8rem;
        height: 40rem;
        margin: 0 auto;
    }
    &__info-box {
        width: 100%;
        margin-top: 4rem;
        padding: 2rem;
        border: 1px solid #f2d6d6;
        border-radius: .4rem;
        background-color: #fef8f8;
        font-size: 1.4rem;
        text-align: center;
    }
    &__loader {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #fff;
        transition: 1s all;
    }
    &__loader.loaded {
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
    }
    &__loader-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5rem;
        transform: translate(-50%, -50%);
    }
    &__select {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    &__question {
        font-size: 1.2rem;
        text-align: center;
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1rem;
        flex-basis: 48%;
        margin-top: 2rem;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        cursor: pointer;
        transition: .6s all;
        &:hover {
            box-shadow: 0 0.9rem 2.6rem rgba(0,0,0,0.1);
        }
        &.selected {
            color: #31bff0;
            border: 1px solid #31bff0;
        }
    }
    &__box-next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1rem;
        flex-basis: 48%;
        margin-top: 2rem;
        border-radius: 4px;
        background-color: #32beef;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: .3s all;
        a {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            box-shadow: 0 0.9rem 2.6rem rgba(0,0,0,0.1);
        }
    }
    &__box-results {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1rem;
        flex-basis: 48%;
        margin-top: 2rem;
        border-radius: 4px;
        background-color: #f29245;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: .3s all;
        &:hover {
            box-shadow: 0 2.9rem 4.6rem rgba(0,0,0,0.1);
        }
    }
    &__box:last-child {
        background-color: #31bff0;
    }
    &__box-button {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }
    &__box-answer {
        position: absolute;
        left: 2rem;
        top: 1.2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        color: black;
        text-transform: uppercase;
    }
    &__box-next {
        color: #fff;
        text-decoration: none;
    }
    &__box-header {
        color: #31bff0;
        text-transform: uppercase;
    }
}

//Results
.results {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f1f7f8;
    animation-name: show;
    animation-duration: 2s;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 111.8rem;
        margin: 0 auto;
    }
    &__content {
        margin-top: -6rem;
        text-align: center;
    }
    &__heading {
        font-size: 5.8rem;
        text-align: center;
    }
    &__correct-answer__number {
        margin-top: 3rem;
        font-size: 1.6rem;
        text-align: center;
    }
    &__correct-answer__output {
        color: #6fbe2e;
        font-size: 2.5rem;
        font-weight: 700;
    }
    &__score {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 2.6rem;
    }
    &__score-answers {
        font-size: 1.4rem;
        span {
            color: #6fbe2e; 
            font-weight: 600;
            font-size: 1.7rem
        }
    }
    &__score-bonus {
        font-size: 1.4rem;
        span {
            color: #6fbe2e;
            font-weight: 600;
            font-size: 1.7rem
        }
    }
    &__question-score {

    }
    &__time-score {

    }
    &__final-score {
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }
}

//animation
@keyframes show {
    0% {opacity: 0}
    100% {opacity: 1}
}